@model List<CardItemViewModel>

@if (Model.Any())
{
    <div class="row g-2">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <a class="text-decoration-none w-100 d-flex justify-content-center @(item.IsEmoji ? "zip-btn" : "") dynamic-link"
                href="@Url.Action(item.Action, item.Controller, item.RouteValues)"
                data-category="@item.Category"
                data-series="@(item.Series ?? "")">

                    <div class="card book-card">
                        <div class="book-cover">
                            @if (item.IsEmoji)
                            {
                                <span class="emoji-cover">@item.ImageUrl</span>
                            }
                            else
                            {
                                <img src="@Url.Content(item.ImageUrl)" alt="@item.Title" />
                            }
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                        </div>
                        <div class="card-date">
                            <h6 class="card-title">@item.Date</h6>
                        </div>
                        <div class="card-count">
                            <h6 class="card-title">@(item.Count == null ? "" : string.Format("x{0}", item.Count))</h6>
                        </div>

                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <p>Aucun élément trouvé.</p>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const sort = localStorage.getItem("cb-sort");

        document.querySelectorAll(".dynamic-link").forEach(link => {

            let url = new URL(link.href);

            if (sort) {
                url.searchParams.set("sort", sort);
            }

            link.href = url.toString();
        });
    });
</script>